---
import { Button } from "../ui/button";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import SocialMedia from "./social-media";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer
  class="flex items-center justify-between w-full p-4 border-t border-neutral-200 dark:border-neutral-800"
>
  <div
    class="flex-col md:flex-row w-full max-w-7xl mx-auto flex gap-4 items-center justify-between"
  >
    <div class="flex w-auto flex-col">
      <span class="text-center md:text-start font-bold text-md"
        >{t("footer.title")}</span
      >
      <p
        class="text-center md:text-start text-sm text-neutral-800 dark:text-neutral-100/60"
      >
        {t("footer.description")}
      </p>
    </div>
    <div class="flex md:justify-end sm:flex-row items-center w-auto gap-4">
      <SocialMedia
        client:idle
        trigger="@alfonsochavarro"
        linkedinLink="https://www.linkedin.com/in/alfonsochavarrocortes/"
        githubLink="https://github.com/JoseCortezz25"
      />

      <SocialMedia
        client:idle
        trigger="@jairmontenegro"
        linkedinLink="https://www.linkedin.com/in/jair-montenegro-2a9499218/"
        githubLink="https://github.com/JairMontenegro"
      />
    </div>
  </div>
</footer>
