---
import { ModeToggle } from "./mode-toggle";
---

<header
  class="flex items-center justify-between w-full p-4 border-t border-neutral-200 dark:border-neutral-800"
>
  <div
    class="flex-col md:flex-row w-full max-w-7xl mx-auto flex gap-4 items-center justify-between"
  >
    <nav class="flex w-auto flex-col">
      <span class="text-md text-foreground font-medium mb-3">
        HTTP Cats and Dogs
      </span>
    </nav>
    <nav class="flex w-auto flex-col">
      <ModeToggle client:load />
    </nav>
  </div>
</header>
