---
import { ModeToggle } from "./mode-toggle";
import { LanguageToggle } from "./language-toggle";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { CommandDemo } from "./command";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="flex items-center justify-between w-full p-4 border-t border-neutral-200 dark:border-neutral-800"
>
  <div
    class="md:flex-row w-full max-w-7xl mx-auto flex gap-4 items-center justify-between"
  >
    <nav class="flex w-auto flex-col">
      <span class="text-md text-foreground font-medium mb-3">
        {t("nav.title")}
      </span>
    </nav>
    <nav class="flex w-auto gap-3">
      <CommandDemo client:load />
      <LanguageToggle client:load lang={lang} />
      <ModeToggle client:load />
    </nav>
  </div>
</header>
